html, body {
    user-select: none;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.selectable {
    user-select: text;
}

.input-group-addon:not(:first-child):not(:last-child) {
    border-right: 0;
}

.joint-highlight-stroke {
    fill: transparent;
    stroke: red;
    stroke-width: 2px;
}

.navbar.top {
    z-index: 1;
}

.navbar-brand > svg {
    margin-top: -6px;
    path {
        transition: all 0.9s;
    }
    path:hover {
        fill: #fff;
        transition: all 0.1s;
    }
}

.ifml-image {
    background: url(../img/linen_bg_tile.jpg);
}

.joint-type-ifml .labels .label:nth-child(1) path,
.joint-type-ifml .labels .label:nth-child(2) path, {
    visibility: hidden;
}

.joint-type-ifml .labels .label:nth-child(3) rect {
    visibility: hidden;
}

.editor {
    @extend .ifml-image;
    position: absolute;
    display: block;
    visibility: visible;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    .joint-type-ifml .link-tool > .tool-options,
    .joint-type-pcn .link-tool > .tool-options {
        display: block;
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        background: white;
    }

    .joint-paper {
        background-color: transparent;
    }

    .board {
        position: absolute;
        left: 200px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        .menu {
            position: absolute;
            left: 0px;
            bottom: 0px;
            padding: 5px;
        }
    }

    .board:focus {
        outline: none;
    }

    .board.not-interactive .joint-element {
        cursor: auto;
    }
}

.tab-content > .tab-pane.editor {
    display: block;
    margin-bottom: 200%;
    margin-top: -200%;
}

.tab-content > .tab-pane.editor.active {
    margin-bottom: 0;
    margin-top: 0;
}

.ifbrowser{
    position: relative;
    margin: 1px;
    padding-top: 120%;
    @media (min-width: 768px) {
        padding-top: 62.5%;
    }
    @media (min-width: 992px) {
        padding-top: 56.25%;
    }

    iframe {
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.ifclient{
    position: relative;
    margin: 1px;
    padding-top: 120%;
    @media (min-width: 768px) {
        padding-top: 62.5%;
    }
    @media (min-width: 992px) {
        padding-top: 56.25%;
    }

    iframe {
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.ifbrowser-baseaddress {
    padding-right: 0.125em;
}

.ifbrowser-address {
    border-left: 0;
    padding-left: 0.125em;
}

.ifmobile {
    .ifmobile-wrapper {
        position: relative;
        padding-top: 160%;
        margin-bottom: 15px;
    }

    .ifmobile-speaker {
        background-color: #ddd;
        height: 5px;
        border-radius: 2px;
    }

    iframe {
        background-color: white;
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.db-table {
    height: calc(100vh - 265px);
    overflow: auto;
}

.table-patterns-image-preview {
    background: url(../img/linen_bg_tile.jpg);
}

.table-pattern-text-description {
    overflow: auto;
    max-height: 140px;
    display: block;
    padding: 15px;
}

.table-modal-patterns {
    /*border: 3px solid black;*/
}

.table-modal-patterns td {
    padding: 2px;
}

.table-modal-patterns th {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 15px;
}

.table-modal-patterns th,td {
    max-width: 375px;
}

.table-patterns-container {
    padding-top: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
	  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}

.search {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 125px;
    font-size: 15px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}

.pattern-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    overflow: auto;
    max-height: 375px;
    text-align: initial;
    max-width: 165px;
    width: 100%;
    min-width: 165px;
}

.pattern-list-cell {
    max-width: 170px;
    vertical-align: top;
}

.pattern-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.pattern-list li span {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block
}

.pattern-list li span:hover:not(.header) {
    background-color: #eee;
}

.type-pattern {
    float: right;
    font-size: 7px;
}

.form-group {
    margin-bottom: 0px !important;
}

.pattern-filter {
    margin-left: 20px;
}
