html, body {
    user-select: none;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.selectable {
    user-select: text;
}

.input-group-addon:not(:first-child):not(:last-child) {
    border-right: 0;
}

.joint-highlight-stroke {
    fill: transparent;
    stroke: red;
    stroke-width: 2px;
}

.navbar.top {
    z-index: 1;
}

.navbar-brand > svg {
    margin-top: -6px;
    path {
        transition: all 0.9s;
    }
    path:hover {
        fill: #fff;
        transition: all 0.1s;
    }
}

.ifml-image {
    background: url(../img/linen_bg_tile.jpg);
}

.joint-type-ifml .labels .label:nth-child(1) path,
.joint-type-ifml .labels .label:nth-child(2) path, {
    visibility: hidden;
}

.joint-type-ifml .labels .label:nth-child(3) rect {
    visibility: hidden;
}

.editor {
    @extend .ifml-image;
    position: absolute;
    display: block;
    visibility: visible;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    .joint-type-ifml .link-tool > .tool-options,
    .joint-type-pcn .link-tool > .tool-options {
        display: block;
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        background: white;
    }

    .joint-paper {
        background-color: transparent;
    }

    .board {
        position: absolute;
        left: 200px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        .menu {
            position: absolute;
            left: 0px;
            bottom: 0px;
            padding: 5px;
        }
    }

    .board:focus {
        outline: none;
    }

    .board.not-interactive .joint-element {
        cursor: auto;
    }
}

.tab-content > .tab-pane.editor {
    display: block;
    margin-bottom: 200%;
    margin-top: -200%;
}

.tab-content > .tab-pane.editor.active {
    margin-bottom: 0;
    margin-top: 0;
}

.ifbrowser{
    position: relative;
    margin: 1px;
    padding-top: 120%;
    @media (min-width: 768px) {
        padding-top: 62.5%;
    }
    @media (min-width: 992px) {
        padding-top: 56.25%;
    }

    iframe {
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.ifclient{
    position: relative;
    margin: 1px;
    padding-top: 120%;
    @media (min-width: 768px) {
        padding-top: 62.5%;
    }
    @media (min-width: 992px) {
        padding-top: 56.25%;
    }

    iframe {
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.ifbrowser-baseaddress {
    padding-right: 0.125em;
}

.ifbrowser-address {
    border-left: 0;
    padding-left: 0.125em;
}

.ifmobile {
    .ifmobile-wrapper {
        position: relative;
        padding-top: 160%;
        margin-bottom: 15px;
    }

    .ifmobile-speaker {
        background-color: #ddd;
        height: 5px;
        border-radius: 2px;
    }

    iframe {
        background-color: white;
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.db-table {
    height: calc(100vh - 265px);
    overflow: auto;
}

.modal-body {
    min-height: 507px;
}

.pattern-home-table {
    td {
        padding: 2px;
    }

    th {
        background-color: black;
        color: white;
        padding: 8px;
        font-size: 15px;
    }

    th,td {
        max-width: 375px;
    }

    .list-cell {
        max-width: 170px;
        vertical-align: top;
    }

    .type {
        float: right;
        font-size: 7px;
    }

    .list-pattern{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: block;
        overflow: auto;
        max-height: 375px;
        text-align: initial;
        width: 100%;
        min-width: 174px;

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        li span {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 13px;
            color: black;
            display: block;

            &:hover:not(.header) {
                background-color: #eee;
            }
        }
    }

    .image-preview {
        background: url(../img/linen_bg_tile.jpg);
    }

    .text-description {
        overflow: auto;
        max-height: 140px;
        display: block;
        padding: 15px;
    }

    .filter {
        margin-left: 20px;
    }
}

.wizard-settings-table {

    .list-steps, .list-fields {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: block;
        overflow: auto;
        text-align: initial;
        min-width: 174px;

        li span {
            min-width: fit-content;
            border-top: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 8px;
            text-decoration: none;
            font-size: 13px;
            color: black;
            display: block;

            &:hover:not(.header) {
                background-color: #eee;
              }
        }
    }

    .list-steps-container {
        height: 200px;
    }

    .list-fields-container {
        height: 100px;
    }

    .list-steps-container, .list-fields-container {
        overflow: auto;
        border: 1px #8080804d solid;
    }

    .wizard-form-input{
        position: relative;
        display: inline-flex;
    }

    .wizard-form-label {
        min-width: fit-content;
        padding-top: 7px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .step-cell {
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 35px;
        padding-left: 70px;
    }

    .form-control {
        padding-right: 50px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .td-add-step {
        padding-right: 50px !important;
        padding-left: 70px;
    }

    .form-smooth {
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .input-group-addon {
        color:#555555;
        background-color: #ffffff;
        border-radius: 0px 0px 20px 0px;
        padding-right: 15px;
    }

    .name-pattern-label {
        max-width: 250px;
    }

    .th-left {
      text-align: right;
      padding-right: 30px;
    }

    .th-right {
      padding-left: 30px;
    }

    td {
        width: 350px;
        padding: 20px;
    }

    th {
      font-size: 20px;
    }
}

.pattern-input {

}

.pattern-home-table, .wizard-settings-table {
    .form-control {
        padding-right: 50px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .form-smooth {
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
    }

    .td-pattern-name {
        padding-left: 0px !important;

    }

    .form-pattern-name {
        min-width: fit-content;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .input-group-addon {
        color:#555555;
        background-color: #ffffff;
        border-radius: 0px 0px 20px 0px;
        padding-right: 15px;
    }

    .trace-line {
        border-right: 2px black solid;
    }

    .trace-line-padding {
        padding-left: 30px !important;
    }
}

.pattern-home-in {
    opacity: 0;
    top: -20px;
    position:relative;
    animation: patternContentHomeIn 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.pattern-home-out {
    opacity: 1;
    left: 0px;
    position:relative;
}

.pattern-home-back-in {
    opacity: 0;
    left: -20px;
    position:relative;
}

.pattern-settings-in{
    opacity: 0;
    left: 20px;
    position:relative;
}

.pattern-settings-out {
    opacity: 1;
    left: 0px;
    position:relative;
}

.right-inner-addon {
    position: relative;

    i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
    }
}

.pattern-settings-title {
    margin-bottom: 40px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
	  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 20%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}

@keyframes patternContentHomeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
