$brand-primary: #027f00;
$white: #fff;
$grey-light: #e1e1e1;

%remain-steps {
	&:before {
		content: counter(stepNum);
		font-family: inherit;
		font-weight: 700;
	}
	&:after {
		background-color: $grey-light;
	}
}


.modal-assistant{

    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;

    .modal-content {
      color: #18222d !important;
      background-color: white;
      text-align: center;
      padding: 0!important;
    }

    .modal-body {
        min-height: 450px !important;
        height: 450px !important;
    }

    .img-responsive {
        max-width: 250px;
        margin-top: 30px;
    }
}

.guided-modal {
    .multi-steps {
      max-width: 400px;
      display: table;
      table-layout: fixed;
      width: 100%;
      >li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: $brand-primary;
        z-index: 1051;
        &:before {
          content: '\f00c';
          content: '\2713;';
          content: '\10003';
          content: '\10004';
          content: '\2713';
          display: block;
          margin: 0 auto 4px;
          background-color: $brand-primary;
          width: 36px;
          height: 36px;
          line-height: 32px;
          text-align: center;
          font-weight: bold;
          border: {
            width: 2px;
            style: solid;
            color: $brand-primary;
            radius: 50%;
          }
          color:white;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        &.is-active {
          @extend %remain-steps;
          &:before {
            background-color: $white;
            border-color: $brand-primary;
            color: $brand-primary;
            animation: pulse 2s infinite;
          }
          ~li {
            color: #808080;
            @extend %remain-steps;
            &:before {
              background-color: $grey-light;
              border-color: $grey-light;
              color: #808080;
            }
          }
        }
      }
    }

    .is-complete {
      background: linear-gradient(to right, $brand-primary 50%, $grey-light 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
    }

    .progress-bar {
      cursor: pointer;
      user-select: none;
    }

    .progress-bar {
      background-color: $grey-light;
      height: 7px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      bottom: calc(50% + 7px);
      width: 100%;
      z-index: -1;
    }

    .progress-bar--success {
      background-color: $brand-primary;
    }

    .progress-bar__bar {
      background-color: $grey-light;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 500ms ease-out;
    }

    .list {
      	list-style-type: none;
        margin-bottom: 30px;
    }

    .path {
      /*max-width: 150px;*/
      margin-bottom: 50px;
    }

    .step {
      	margin-bottom: 10px;
				text-align: left;
				padding-left: 120px;
    }

    .question {
      font-size: 20px;
      margin-bottom: 50px;
    }

    .pattern {
      margin-left: 20px;
      vertical-align: middle;
    }

    .icon-svg{
          max-width: 20px;
          vertical-align: middle;
    }

    .steps-navigator {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 #027f0070;
      }
      100% {
        box-shadow: 0 0 0 10px #027f0000;
      }
    }
}
