.input-data-validation-settings-table {

    .collection-label {
        padding-left: 20px;
    }

    .input-group {
        margin: auto;
    }

    th {
        text-align: center;
        padding-bottom: 20px;
    }
}
