.basic-search-settings-table {

    .collection-name {
        padding-top: 0px;
    }

    .details-fields-container {
        height: 170px;
    }

    .details-fields-td {
        padding-top: 20px;
        padding-bottom: 0px;
        vertical-align: top;
    }

    .list-fields-container {
        float: right;
        margin-right: 10px;
        height: 120px !important;
    }
}
