.basic-search-settings-table {

    .list-fields, .details-fields {
      li span {
          width: 185px;
      }
    }

    .list-steps {
      li span {
          width: 250px;

          &:hover:not(.header) {
              background-color: #eee;
          }
      }
    }

    .list-steps, .list-fields, .details-fields {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: block;
        overflow: auto;
        text-align: initial;
        min-width: 174px;
        background-color: #f6f6f6;

        li span {
            margin-top: 0px;
            background-color: #f6f6f6;
            padding: 8px;
            text-decoration: none;
            font-size: 13px;
            color: #000;
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        li {
          border-top: 2px solid white;
        }
    }

    .list-steps-container {
        height: 200px;
    }

    .list-fields-container {
        margin-right: 10px;
        height: 100px;
    }

    .details-fields-container {
        height: 170px;
    }

    .list-steps-container, .list-fields-container, .details-fields-container {
        overflow: auto;
        border: 1px #8080804d solid;
    }

    .basic-search-form-input{
        position: relative;
    }

    .basic-search-form-label {
        min-width: fit-content;
        padding-top: 7px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .step-cell {
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 35px;
        padding-left: 70px;
    }

    .form-td-left {
        padding-right: 60px;
        padding-left: 0px;
    }

    .form-control {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .form-smooth {
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
    }

    .form-pattern-name {
        min-width: fit-content;
    }

    .form-group {
        margin-bottom: 0px !important;
        display: flex;
    }

    .input-group-addon {
        color:#555555;
        background-color: #ffffff;
        border-radius: 0px 0px 20px 0px;
        padding-right: 15px;
    }

    .right-inner-addon {
        position: relative;

        i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
        }
    }

    .collection-name {
      padding-top: 0px;
    }

    .name-pattern-label {
        max-width: 250px;
    }

    .trace-line {
        border-right: 2px black solid;
    }

    .trace-line-padding {
        padding-left: 30px !important;
    }

    .th-left {
      text-align: right;
      padding-right: 30px;
    }

    .th-right {
      padding-left: 0px;
    }

    .td-add-step {
        padding-right: 50px !important;
        padding-left: 70px;
    }

    td {
        width: 350px;
        padding: 20px;
    }

    th {
      font-size: 20px;
    }
}
