.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: #000;
    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    border-radius: 8px;
    content: "";
    height: 10px;
    margin-top: -6px;
    position: absolute;
    opacity: .3;
    transition: all .4s ease-in-out;
    width: 38px;
}
.material-switch > label::after {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    content: "";
    height: 18px;
    left: -3px;
    margin-top: -6px;
    position: absolute;
    top: -4px;
    transition: all .3s ease-in-out;
    width: 18px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.multilevel-master-detail-settings-table {

    .list-fields, .details-fields {
      li span {
          width: 185px;
      }
    }

    .list-steps {
      li span {
          width: 250px;

          &:hover:not(.header) {
              background-color: #eee;
          }
      }
    }

    .list-steps, .list-fields, .details-fields {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: block;
        overflow: auto;
        text-align: initial;
        min-width: 174px;
        background-color: #f6f6f6;

        li span {
            margin-top: 0px;
            background-color: #f6f6f6;
            padding: 8px;
            text-decoration: none;
            font-size: 13px;
            color: #000;
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        li {
          border-top: 2px solid white;
        }
    }

    .field-operations-div {
        margin-top: auto;
        margin-bottom: 11px;
        padding-left: 20px;
        display: flex;
    }

    .step-list-field {
      display: flex;
      height: 35px!important;
      background-color: #f6f6f6;
      font-size: 13px;
      color: #000;
    }

    .step-input {
        width: 260px;
    }

    .list-steps-container {
        height: 90px;
    }

    .field-input {
        padding-top: 0px;
    }

    .steps-container {
      padding-top: 0px;
    }

    .list-fields-container {
        margin-right: 10px;
        height: 190px;
    }

    .details-fields-container {
        height: 70px;
    }

    .list-steps-container, .list-fields-container, .details-fields-container {
        overflow: auto;
        border: 1px #8080804d solid;
    }

    .multilevel-master-detail-form-input{
        position: relative;
    }

    .multilevel-master-detail-form-label {
        min-width: fit-content;
        padding-top: 7px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .step-cell {
        padding-right: 60px;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-left: 30px;
    }

    .list-fields-space {
        vertical-align: top;
    }

    .details-fields-space {
        vertical-align: top;
        padding-top: 0px;
    }

    .xor-form {
      display: block !important;
    }

    .xor-label {
      padding-left: 20px;
      font-size: 18px;
    }

    .form-td-left {
        padding-right: 60px;
        padding-left: 0px;
    }

    .form-control {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .form-smooth {
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
    }

    .form-pattern-name {
        min-width: fit-content;
    }

    .form-group {
        margin-bottom: 0px !important;
        display: flex;
    }

    .input-group-addon {
        color:#555555;
        background-color: #ffffff;
        border-radius: 0px 0px 20px 0px;
        padding-right: 15px;
    }

    .right-inner-addon {
        position: relative;

        i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
        }
    }

    .collection-label {
        padding-left: 20px;
    }

    .name-pattern-label {
        max-width: 250px;
    }

    .trace-line {
        border-right: 2px black solid;
    }

    .trace-line-padding {
        padding-left: 30px !important;
    }

    .th-left {
      text-align: right;
      padding-right: 30px;
    }

    .th-right {
      padding-left: 0px;
    }

    .td-add-step {
        padding-right: 50px !important;
        padding-left: 70px;
    }

    td {
        width: 350px;
        padding: 20px;
    }

    th {
      font-size: 20px;
    }
}
