.wizard-settings-table {
    .step-input {
        float: right;
    }

    .step-cell {
        padding-bottom: 0px;
    }

    .form-fields-container {
        height: 170px !important;
    }

    .list-steps-container {
        height: 300px;
    }
}
