.master-detail-settings-table {

    .td-xor {
        padding-right: 30px !important;
    }

    .xor-form {
        display: block;
    }

    .xor-label {
        padding-left: 20px;
        font-size: 18px;
    }

    .list-fields-container {
        float: right;
    }

    .details-fields-container {
        float: left;
    }
}
