.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.master-detail-settings-table {

    .list-steps, .list-fields, .details-fields {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: block;
        overflow: auto;
        text-align: initial;
        min-width: 174px;

        li span {
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 8px;
            text-decoration: none;
            font-size: 13px;
            color: #000;
            display: block;
            width: 185px;
            overflow-x: scroll;
            overflow-y: hidden;

            &:hover:not(.header) {
                background-color: #eee;
              }
        }
    }

    .list-steps-container {
        height: 200px;
    }

    .list-fields-container {
        margin-right: 10px;
        height: 100px;
    }

    .details-fields-container {
        height: 170px;
    }

    .list-steps-container, .list-fields-container, .details-fields-container {
        overflow: auto;
        border: 1px #8080804d solid;
    }

    .master-detail-form-input{
        position: relative;
    }

    .master-detail-form-label {
        min-width: fit-content;
        padding-top: 7px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .step-cell {
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 35px;
        padding-left: 70px;
    }

    .xor-form {
      display: block !important;
    }

    .xor-label {
      padding-left: 20px;
      font-size: 18px;
    }

    .form-td-left {
        padding-right: 60px;
        padding-left: 0px;
    }

    .form-control {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    .form-smooth {
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
    }

    .form-pattern-name {
        min-width: fit-content;
    }

    .form-group {
        margin-bottom: 0px !important;
        display: flex;
    }

    .input-group-addon {
        color:#555555;
        background-color: #ffffff;
        border-radius: 0px 0px 20px 0px;
        padding-right: 15px;
    }

    .collection-label {
        padding-left: 20px;
    }

    .name-pattern-label {
        max-width: 250px;
    }

    .trace-line {
        border-right: 2px black solid;
    }

    .trace-line-padding {
        padding-left: 30px !important;
    }

    .th-left {
      text-align: right;
      padding-right: 30px;
    }

    .th-right {
      padding-left: 0px;
    }

    .td-add-step {
        padding-right: 50px !important;
        padding-left: 70px;
    }

    td {
        width: 350px;
        padding: 20px;
    }

    th {
      font-size: 20px;
    }
}
